* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --red: #de4332;
    --green: #27ae60;
    --yellow: #f1c40f;
    --blue: #2980b9;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    overflow-x: hidden;
}

/* Wrapper */

#wrapper {
    background: radial-gradient(circle, rgba(236, 33, 57, 1) 0%, rgba(147, 41, 30, 1) 100%);

    /* background: radial-gradient(circle, rgba(93, 93, 93, 1) 0%, rgba(49, 49, 49, 1) 100%); */

    height: 100dvh;

    padding: 0 0.5rem;

    overflow: hidden;

    position: relative;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

/* Counter */

#counter {
    margin: auto;

    max-width: 1100px;
    width: 100%;

    background: rgba(255, 255, 255, 0.2);

    border-radius: 0.5rem;

    padding: 1rem;

    z-index: 1;

    transition: height 1s linear;
}

#counter h1 {
    font-size: 4rem;
    text-align: center;

    color: #fff;

    text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.8);
}

#clock {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.8rem;

    justify-content: space-around;
    align-items: center;

    font-size: 3rem;

    text-align: center;
}


.clock-number {
    flex: 1 1 100px;
    min-width: 100px;
}

.clock-number>div:first-child {
    padding: 0.3rem;
    border-radius: 0.5rem;

    box-shadow: 0 0 0.3rem 0.2rem rgba(255, 255, 255, 0.8);

    background: #fff;
}

.clock-number>div:last-child {
    margin-top: 0.5rem;
    font-size: 1.2rem;
}

@media (min-width: 1920px) {
    #clock {
        height: 30vh;
    }

    #counter h1 {
        font-size: 6rem;
    }

    #clock {
        font-size: 5rem;
    }

    .clock-number>div:last-child {
        font-size: 2rem;
    }
}

/* Countdown & Happy Wrappers */
#happy {
    visibility: hidden;
    height: 0;
}

#countdown {
    display: block;
}

#countdown.happy {
    animation: fadeOut 1s forwards;
}

#happy.happy {
    /* display: block; */
    opacity: 0;
    visibility: visible;

    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }

}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* Lights */

.lights {
    width: 100%;

    display: flex;

    z-index: 1;
}

.light {
    position: relative;

    margin: 0 1px;

    aspect-ratio: 1/1;

    width: 100%;
}

.light::before {
    position: absolute;

    display: block;
    content: '';

    left: 50%;
    transform: translateX(-50%);

    width: 22%;
    height: 50%;

    margin: auto;
}

.lights#up>.light::before {
    top: 0;

    background: linear-gradient(180deg, rgba(49, 49, 49, 1) 0%, rgba(255, 255, 255, 1) 70%);
}

.lights#down>.light::before {
    bottom: 0;

    background: linear-gradient(0, rgba(49, 49, 49, 1) 0%, rgba(255, 255, 255, 1) 70%);
}

.light::after {
    content: '';
    display: block;

    --light-color: #fff;
    background: var(--light-color);

    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    aspect-ratio: 1/1;
    width: 80%;

    border-radius: 50%;

    animation: glow 1.5s infinite;
}

.light.red::after {
    --light-color: var(--red);

    animation-delay: 0s;
}

.light.yellow::after {
    --light-color: var(--yellow);

    animation-delay: 1s;
}

.light.green::after {
    --light-color: var(--green);

    animation-delay: 2s;
}

.light.blue::after {
    --light-color: var(--blue);

    animation-delay: 3s;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 0.8rem 0.2rem var(--light-color);
    }
}

/* Snowflake */

.snowflake {
    position: absolute;
    top: -10px;
    z-index: 0;
    user-select: none;
    pointer-events: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    will-change: transform;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100dvh);
    }
}

/* Footer */

footer {
    padding: 3rem 1rem;

    color: white;
    text-align: center;
    z-index: 1;

    /*
    background: #147d40;

    background: rgb(20, 125, 64);
    background: linear-gradient(180deg, rgba(20, 125, 64, 1) 0%, rgb(14, 164, 76) 100%); */

    --s: 20px;
    background: repeating-conic-gradient(from 45deg, #147d40 0 25%, #2e8b57 0 50%);
    background-size: calc(2 * var(--s)) calc(2 * var(--s));
}

footer>div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    column-gap: 1rem;
    row-gap: 0.7rem;
}

footer>div>div {
    flex: 1 1 0px 350px;

    display: flex;
    justify-content: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Fireworks, code from: https://alvaromontoro.com/blog/68002/creating-a-firework-effect-with-css */

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }

    50% {
        width: 0.5vmin;
        opacity: 1;
    }

    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}

/* @keyframes fireworkPseudo {
    0% { transform: translate(-50%, -50%); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
   */

#fireworks {
    display: none;
}

.firework {
    z-index: 0;
}

.firework,
.firework::before,
.firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 45vmin;
    --particleSize: 0.2vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: white;
    --color4: lime;
    --color5: gold;
    --color6: mediumseagreen;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background:
        /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */

        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,

        /* bottom right */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,

        /* bottom left */
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,

        /* top left */
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,

        /* top right */
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
}

.firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
    /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
    /*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
    --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;
    --finalSize: 40vmin;
    left: 30%;
    top: 60%;
    animation-delay: -0.25s;
}

.firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
    --color1: cyan;
    --color2: lightcyan;
    --color3: lightblue;
    --color4: PaleTurquoise;
    --color5: SkyBlue;
    --color6: lavender;
    --finalSize: 35vmin;
    left: 70%;
    top: 60%;
    animation-delay: -0.4s;
}